<!DOCTYPE html>
<html lang="pt-br" ng-app="drugstore">
    <head>
        <title>Drug Store</title>

        <meta charset="utf-8">

        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>

    <body>   
        <div ng-controller="DrugController">

            <h2>Medicamentos</h2>

            <table class="table table-striped table-hover">
                <thead>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Classificação</th>
                </thead>
                <tbody>
                    <tr ng-repeat="drug in drugs" ng-click="onItemClick(drug)" style="cursor: pointer">
                        <td>{{ drug.name }}</td>
                        <td>{{ drug.description }}</td>
                        <td>{{ drug.classification }}</td>
                    </tr>
                </tbody>
            </table>   
        </div>

        <!-- Bibliotecas -->     
        <script src="js/libs/jquery-1.10.2.min.js"></script>
        <script src="js/libs/bootstrap.min.js"></script>
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/ui-bootstrap-tpls-0.13.0.min.js"></script>        

        <!-- Aplicação -->
        <script src="js/application.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/drug-controller.js"></script>     
        <script src="js/controllers/drug-detail-controller.js"></script>

        <!-- Templates -->
        <script type="text/ng-template" id="details.html">
            <div class="modal-header">
                <h3 class="modal-title">Detalhes</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li><b>Código:</b> {{ selectedDrug.code }}</li>                    
                    <li><b>Nome:</b> {{ selectedDrug.name }}</li>
                    <li><b>Descrição:</b> {{ selectedDrug.description }}</li>
                    <li><b>Classificação:</b> {{ selectedDrug.classification }}</li>
                    <li><b>Laboratório:</b> {{ selectedDrug.laboratory }}</li>
                    <li><b>Princípio Ativo:</b> {{ selectedDrug.activeIngredient }}</li>                    
                </ul>                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="close()">Fechar</button>                
            </div>
        </script>   
    </body>
</html>